@charset "utf-8";

table {
    width: 500px;
    border-collapse: collapse;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: lightgrey;
}

td,th {

    border: 1px solid black;
    padding: 10px;
}

#populaçao {
    width: 50px;
}

td.num {
    text-align: right;
}

thead, tfoot{
    background-color: cadetblue;
    
}