@charset "utf-8";

body{
    height: 97vh;
    /*
    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
    /* shorthand - background

        color > image > position >repeat > [size] >
        attachment

    background: black url('imagens/wallpaper002.jpg') center center no-repeat cover fixed 

    backgrounde size no shorthand até o momento desse exercicio nao funciona corretamente 
    
    */

    background: black url('imagens/wallpaper002.jpg') center center no-repeat fixed ;
    background-size: cover;
    
}

main{
    background-color: white;
    max-width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid darkblue;
    border-radius: 15px;
}